name: React CI/CD to Cloudinary

on:
  push:
    branches:
      - deployed_version

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Upload dist to Cloudinary
        env:
          CLOUD_NAME: ${{ secrets.CLOUD_NAME }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_SECRET_KEY: ${{ secrets.CLOUDINARY_SECRET_KEY }}
        run: |
          npm install -g cloudinary-cli
          cloudinary config set cloud_name=$CLOUDINARY_CLOUD_NAME api_key=$CLOUDINARY_API_KEY api_secret=$CLOUDINARY_API_SECRET
          cloudinary upload_dir dist react-frontend --overwrite
